{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="signup">
  <div class="row">
      <div
          class="col-sm-8 col-md-6 offset-sm-2 offset-md-3 offset-lg-4"
      >
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="submit-btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
        <a href="{% provider_login_url 'facebook' method='oauth2' %}">Sign up with facebook</a>
        <a href="{% provider_login_url 'github' %}">Sign Up <i class="fa fa-solid-github"></i> </a>
        </div>
    </div>
</section>

{% endblock %}
