@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700;900&family=Vast+Shadow&display=swap');

/* General styles */

:root {
    --grey: #666;
    --light-bg: var(--light-bg);
    --primary-colour: #0a5205;
    --box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    --text-shadow-dark: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
    --text-shadow-light: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--grey);
    background-color: #f8f9fa;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
    color: var(--grey);
    margin-bottom: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--grey);
}

a:hover {
    text-decoration: none;
    color: var(--primary-colour);
}

ul {
    list-style-type: none;
}

label {
    display: block;
    padding: 0.5rem 0;
}

input[type='checkbox'] {
    width:auto !important;
}

input[type='checkbox']:focus {
    box-shadow: none;
}

button {
    border: 0;
    padding: 1.6rem 3.2rem 1.6rem 3.2rem;
    background-color: var(--primary-colour);
    color: var(--grey);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: uppercase;
    box-shadow: var(--text-shadow-light);
    border: 2px solid var(--primary-colour);
    transform: translateX(0);
    transition: all 0.3s ease-in;
}

.btn {
    font-size: 1.6rem;
}

button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: white;
}

button:active {
    background-color: white;
    color: var(--primary-colour);
}

.navbar-brand {
    padding: 0 5rem;
    font-size: 3.6rem;
}

.nav-link {
    margin: 0 1.5rem;
}

.nav-link:hover {
    font-weight: 700;
}

#active {
    font-weight: 400;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile > * {
    margin: 1rem;
}

.profile a {
    padding: 1rem;
}

.profile a:hover {
    color: white;
    font-weight: 400;
}

.user-info {
    display: flex;
}

.user-info i {
    padding-right: 1.6rem;
}

.user-info p {
    margin: 0;
}

/* Header Image */
.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-image img {
    width: 100%;
    height: 95vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0% 75%);
}

.article.header-image img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 75%);

}
.header-image h1 {
    color: white;
    font-size: 10rem;
    font-family: 'Vast Shadow', cursive;
    text-align: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    position: absolute;
    /* top: 50%; */
}

/* Footer */

footer {
    margin: 0 auto;
    min-height: 25vh;
    background-color: black;
    color: white;
    font-weight: bold;
    /* display: grid;
    grid-template-columns: 1fr 2fr 1fr; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.social-links {
    margin: 0 auto;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    list-style: none;
}

footer a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 3.6rem;
    color: white;
}

footer a:hover {
    transition: 0.4s ease;
}

#facebook:hover {
    color: #4267b2;
}

#twitter:hover {
    color: #00acee;
}

/* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
/* https://css-tricks.com/snippets/css/gradient-text/ */

#instagram:hover {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#youtube:hover {
    color: red;
}

.footer-links a {
    font-size: 1.4rem;
}

.google {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(210deg, transparent 66.4%, #4DB849 33%, #328440),
    linear-gradient(90deg, transparent 72%, #D01D21 33%, #F06B59),
    linear-gradient(150deg, transparent 60%, #D01D21 33%, #D01D21),
    linear-gradient(330deg, transparent 66.45%, #FCD209 33%, #D49B28),
    linear-gradient(37deg, transparent 58%, #FCD209 33%, #FCD209),
    linear-gradient(280deg, transparent 58%, #4DB849 33%, #4DB849),
    linear-gradient(150deg, transparent 54%, #D01D21 33%, #D01D21);
}

/* Category Tile */

#categories {
    width: 100%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2.5rem;
}

.category {
    max-height: 15rem;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    padding: 0;
    position: relative;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-image {
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    transform: scale(1);
    transition: all 0.3s;
}

.category h4 {
    color: white;
    font-family: 'Vast Shadow', cursive;
    font-size: 3.6rem;
    text-align: center;
    text-shadow: var(--text-shadow-dark);
    width: 100%;
    position: absolute;
    top: 33%;
    z-index: 2;
}

.content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    transition: all 0.4s ease-in-out 0s;
    z-index: 1;
  }
  
.category:hover .content-overlay{
    opacity: 0.8;
  }

/* Recipes */

#recipes {
    width: 100%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2.5rem;
}

.step-number {
    font-size: 2rem;
    font-weight: 700;
}

.comments textarea {
    width: 100%;
}
  
/* Card Gallery */

#gallery {
    text-align: center;
}

.gallery-container {
    width: 70%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

/* .gallery-container div {
    padding: 0.5rem;
    /* box-shadow: var(--text-shadow-light); 
} */

.gallery-container img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.card {
    overflow: hidden;
}

.card-info {
    padding: 2rem;
    text-align: center;
}

.card-image {
    width:100%;
    max-height: 20rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0% 75%);
    transform: scale(1);
    transition: all 0.3s;
}

.heading {
    margin-top: 5rem;
    font-size: 3.6rem;
    font-weight: 700;
}

.sub-heading {
    font-size: 2.4rem;
    padding: 0.8rem;
}

.heart {
    color: red;
}

.btn-like {
    border: 0;
    color: var(--grey);
    background-color: var(--light-bg);
    box-shadow: none;
}

.liked {
    color: red;
}

.btn-like:hover {
    color:red;
}

.icons {
    color: goldenrod;
}

.card:hover .card-image {
    transform: scale(1.05);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0% 100%);
}

.divider {
    margin-top: 6rem;
    margin-bottom: 3rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

.social-sharing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-sharing i {
    font-size: 2rem;
}

.facebook {
    color: #4267b2;
}

.instagram {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/* Button Container */

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.delete-btn:hover {
    color:white;
}

/* Form Controls */

input,
textarea,
select {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    margin-bottom: 2.4rem;
    border-radius: 0.3rem;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid transparent;
    width: 80%;
    display: block;
    transition: all 0.3s;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid var(--primary-colour);
}

input {
    margin-top: 1rem;
}

input::file-selector-button {
    color: white;
    background-color: var(--primary-colour);
    letter-spacing: 1px;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 3px;
}

.submit-btn {
    color:white;
}

.signup {
    background-color: rgb(248,249,250);
    min-height: 75vh;
}

.signup input {
    width: 100%;
}

.instagram-btn {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.instagram-btn:hover {
    box-shadow: none;
}

.add-recipe input,
.add-recipe textarea {
    width: 100%;
}

.add-ingredient p {
    display: inline;
}

.add-ingredient label {
    display: inline-block;
}

.add-ingredient input {
    display: inline-block;
    width: 15%;
    border: 1px solid #ddd;
}

.add-ingredient textarea {
    display: inline-block;
    width: 40%;
    height: 6rem;
    border: 1px solid #ddd;
    position: relative;
    top: 2.4rem;
    margin-bottom: 0;
}

/* Admin block */

.admin-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-block p {
    padding: 1.6rem;
}

.admin-block a {
    font-size: 1.6rem;
}

/* Home Page */
/* Carousel styles */

.carousel {
	max-height: 75vh;
}

.carousel-item {
	height: 75vh;
}

.carousel h2 {
	font-family: 'Vast Shadow', serif;
	font-size: 7rem;
	text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    color: white;
}

.carousel-caption {
	bottom: 38%;
}

/* Intro section */

.intro {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: space-between;
	align-items: center;
}

.intro img {
	width: 100%;
	padding: 1rem;
}

.main-panel {
	grid-row: span 2;
}

.side-panels {
	display: flex;
	flex-direction: column;
}

/* Categories Section */

.card-container {
	width: 80%;
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	/* color: white; */
}

.card-container img {
	width: 100%;
	height: 100%;
	padding: 0;
}

.card-container i {
	font-size: 10rem;
	text-align: center;
	padding: 2rem;
}

.card-container .card {
	border: 0;
}

/* Heroes */

.wrapper {
	display: grid;
	grid-gap: 2rem;
}

.hero img,
.cta img {
	max-width: 100%;
	height: 100%;
    transform: scale(1.5);
}

.top {
	display: grid;
	grid-gap: 2rem;
	grid-template-areas:
		'hero hero cta1'
		'hero hero cta2';
}

.hero {
	grid-area: hero;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
    padding: 1.6rem;
    overflow: hidden;
}

.cta {
	font-size: 2.4rem;
	text-align: center;
	display: grid;
	justify-content: center;
	align-items: center;
	align-content: center;
    overflow: hidden;
}

.cta1 {
	grid-template-areas: cta1;
}

.cta2 {
	grid-template-areas: cta2;
}

/* Sign up */

/* Udemy Advanced CSS by Jonas Schmedtmann */
#sign-up {
	width: 80%;
	min-height: 50rem;
	margin: 5rem auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	border-radius: 0.5rem;
	box-shadow: 0 3rem 6rem rgb(0 0 0 / 30%);

	display: grid;
	align-items: center;
}

#sign-up {
	background-image: linear-gradient(
			105deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(255, 255, 255, 0.8) 50%,
			transparent 50%
		),
		url('../images/empanadas.jpg');
}

#sign-up form {
	width: 50%;
	margin: 5rem;
}

#sign-up form p {
	width: 80%;
}

#sign-up form > * {
	margin-bottom: 2.5rem;
}

#sign-up input,
#sign-up textarea {
	font-size: 1.5rem;
	font-family: inherit;
	color: inherit;
	padding: 1.5rem 2rem;
	margin-bottom: 2.4rem;
	border-radius: 0.3rem;
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	border-bottom: 3px solid transparent;
	width: 80%;
	display: block;
	transition: all 0.3s;
}

#sign-up input:focus,
#sign-up textarea:focus {
	outline: none;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	border-bottom: 3px solid var(--orange);
}

/* https://css-tricks.com/html-inputs-and-labels-a-love-story/ */
#sign-up .hidden-label {
	border-width: 0 !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;
}


/* Search Bar */
.search {
    position: relative;
}

.search input {
    padding: 1.2rem;
    padding-left: 1.7rem;
    width: 100%;
    min-width: 40rem;
    border-radius: 5rem;
    font-size: 1.6rem;
}

.search input::placeholder {
    color:rgba(0, 0, 0, 0.3);
    padding-left: 0.5rem;
}

.search input:focus {
    border-color: white;
    outline: none;
    border-bottom: 2px solid var(--primary-colour);
}

.search button {
    position: absolute;
    right: 0%;
    top: 14%;
    box-shadow: none;
    color: white;
    background-color: var(--primary-colour);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.3s;
}

/* Media Queries */

@media (max-width: 960px) {
	.top {
		grid-template-areas:
			'hero hero'
			'cta1 cta2';
	}
}

@media (max-width: 640px) {
	.top {
		grid-template-areas:
			'hero'
			'cta1'
			'cta2';
	}
}
