{% extends "base.html" %}

{% block content %}
<section class="add-recipe">
  <div class="row">
    <div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
      <h2 class="mt-5">Add Recipe</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Recipe Info
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body p-5">
                  {{ recipe_form.as_p }} 
              </div>
            </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Add Ingredients
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body add-ingredient p-5">
                    {{ ingredient_form.as_p }} 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Add Instructions
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body p-5">            
                  {{ instruction_form.as_p }} 
                </div>
              </div>
            </div>
          </div>
          <p>
            <button class="submit-btn mt-4" type="submit">Add Recipe <i class="fa fa-plus"></i></button>
          </p>
        </div>
      </form>    
    </div>
  </div>
</section>
{%endblock%}