{% extends "base.html" %}

{% block content %}
<section class="signup">
    <div class="row">
        <div
            class="col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4"
        >
        <form action="add" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button type="submit">Add Category</button>
                </p>
            </div>
        </form>    
        <!-- <form class="p-5">
                <h2 class="mt-5">Add Category</h2>
                <div class="mb-3">
                    <label
                        for="category-name"
                        class="form-label"
                        >Category name:</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="category-name"
                    />
                </div>
                <div class="mb-3">
                    <label for="category-description" class="form-label">Category description:</label>
                    <textarea class="form-control" id="category-description" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="category-image" class="form-label">Add featured image:</label>
                    <input class="form-control" type="file" id="category-image">
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="publish-switch">
                    <label class="form-check-label" for="publish-switch">Published:</label>
                  </div>
                <button type="submit" class="btn btn-warning mt-4 p-4">
                    Submit
                </button>
            </form> -->
        </div>
    </div>
</section>
{%endblock%}