{% extends "base.html" %}

{% block content %}
{% if user.is_superuser %}
<section class="admin-block container my-5">
    <p>As an admin, you have the ability to add new articles. Each article can have a title, description and featured image.</p>
    <a href="/articles/add" class="btn btn-outline-success p-5">Add article <i class="fa fa-plus"></i></a>
</section> 
{% endif %}
<section id="categories" class="container">
    {% for article in article_list %}
        <div class="category">
            <a href="{% url 'article_detail' article.slug %}">
            <div class="content-overlay"></div>
            <img src="{{ article.featured_image.url }}" alt="{{ article.title }}" class="article-image" />
            <h4>{{ article.title }}</h4>
            </a>
        </div>
    {% endfor %}
</section>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{%endblock%}