{% extends "base.html" %}

{% block content %}
<!-- {% if user.is_superuser %}
<div class="btn-container container">
    <a href="#" class="btn btn-outline-success p-5">Add Category <i class="fa fa-plus"></i></a>
</div> 
{% endif %} -->
<section id="categories" class="container">
    {% for category in category_list %}
        <div class="category">
            <a href="{% url 'category_detail' category.slug %}">
            <div class="content-overlay"></div>
            <img src="{{ category.featured_image.url }}" alt="{{ category.title }}" class="category-image" />
            <h4>{{ category.title }}</h4>
            </a>
        </div>
    {% endfor %}
</section>
{%endblock%}