{% extends "base.html" %}

{% block content %}
<section class="signup">
    <div class="row">
        <div
            class="col-sm-8 col-md-6 offset-sm-2 offset-md-3 p-5"
        >
        <h2 class="mt-5">Edit Article</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }} 
            <div>
                <p>
                    <button class="submit-btn mt-4" type="submit">Update Article <i class="fa fa-pencil"></i></button>
                </p>
            </div>
        </form>    
        </div>
    </div>
</section>
{%endblock%}