{% extends "base.html" %}

{% block content %}
<!-- Header Image-->
<header id="header-image" >
    {% if "placeholder" in recipe.featured_image.url %}
    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
    {% else %}
    <img src="{{ recipe.featured_image.url }}" width="100%">
    {% endif %}
    <h1>{{ recipe.title }}</h1>
</header>
<section class="intro">
    <div class="row">
        <div class="col-sm-8 offset-2 text-center mt-5 py-5">
            <div class="row">
                <div class="col-sm-4 info">
                    <i class="fa-regular fa-clock icons"></i> {{ recipe.cook_time }}
                    minutes
                </div>
                <div class="col-sm-4 info">
                    <i class="fa fa-utensils icons"></i> serves {{ recipe.servings }}
                </div>
                <div class="col-sm-4 info">
                    <i class="fa-solid fa-gauge icons"></i> {{ recipe.difficulty }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-1 mt-5 py-5 recipe-title">
                    <h4 class="heading">{{ recipe.title }}</h4>
                    <p class="sub-heading">{{ recipe.author }}</p>
                    <i class="fa-regular fa-heart heart mt-4"></i> {{ recipe.number_of_likes }}
                    likes
                    <hr class="divider" />
                </div>
            </div>
            
            <div class="row">
                <div
                    class="col-sm-10 offset-1 mt-1 mb-5 py-5 recipe-description"
                >
                    {{ recipe.description }}
                    <div class="social-sharing mt-5 pt-5">
                        <i class="fa-solid fa-share-nodes"></i>
                        <i class="fa-brands fa-facebook facebook"></i>
                        <i class="fa-brands fa-instagram instagram"></i>
                    </div>
                    <hr class="divider" />
                </div>
            </div>
        {% if user.is_superuser %}
            <div class="row">
            <div class="btn-container">
                <a class="nav-link btn btn-outline-warning p-4" href="../edit/{{ recipe.slug }}"
                >Edit <i class="fa fa-pencil"></i></a>
                        <!-- Delete confirmation modal -->
                        <a href="#deleteModal" data-bs-toggle="modal" data-bs-target="#deleteModal" class="nav-link delete-btn btn btn-outline-danger p-4">
                            Delete <i class="fa-regular fa-trash-can" aria-hidden="true"></i>
                            <span class="sr-only">Delete plan</span>
                        </a>
                    </div>
                </div>
                <!-- Modal for deleting existing plan -->
                <div class="modal fade py-5" id="deleteModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" action="{% url 'delete_recipe' recipe.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete {{ recipe.title }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                <div class="modal-body py-4 d-flex justify-content-center">
                                    Are you sure you want to delete this recipe?
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="button" class="btn btn-secondary p-3" data-bs-dismiss="modal">Cancel <i class="fa-solid fa-xmark"></i></button>
                                    <button type="submit" class="btn btn-danger p-3">Delete <i class="fa fa-trash"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
</section>
<section class="instructions container">
    <div class="row">
        <div class="col-md-4">
            <div class="ingredients m-auto">
                <ul>
                    {% for ingredient in ingredients_list %}
                    <li>{{ ingredient.amount }} {{ ingredient.name }}, {{ ingredient.notes }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            {% for instruction in instructions_list %}
            <div class="step-number"><p>{{ forloop.counter }}.</p></div>
            <div class="step-info">
                {{ instruction.body }}
            </div>
            <hr class="divider" />
            {% endfor %}
        </div>
    </div>
</section>
<section class="comments">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_date }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{%endblock%}